/* <1200px */
@media (max-width: 1200px) {
    #sobre {
        width: 80%;
    }
}

/* <650px */
@media (max-width: 650px) {
    header {
        height: 50px;
    }
    nav {
        font-size: 130%;
        padding: 10px;
    }
    #perfil {
        width: 50%;
    }
    h1 {
        font-size: 200%;
    }
    h2 {
        font-size: 170%;
        padding-left: 2%;
    }
    h3 {
        font-size: 130%;
        padding-left: 1%;
    }
    p {
        font-size: 100%;
        padding-left: 1%;
        padding-right: 2%;
        text-align: justify;
    }
    #sobre {
        width: 100%;
    }
    .coluna {
        display: flex;
        flex-direction: column;
    }
    .coluna img {
        width: 40%;
        margin-left: 30%;
    }
    footer {
        padding: 10px;
    }
    #up, #down {
        flex-direction: column;
        width: 75%;
    }
    #down textarea {
        width: 100%;
    }
    button {
        width: 20%;
        margin-top: 5px;
    }
}

/* <450px */
@media (max-width: 450px) {
    header {
        height: 30px;
    }
    nav {
        font-size: 90%;
        padding: 3px;
    }
    nav a {
        width: 100px;
    }
    #perfil {
        width: 60%;
    }
    #redes {
        font-size: 170%;
    }
    #redes a {
        margin: 0px 5px;
    }
    h1 {
        font-size: 155%;
    }
    h2 {
        font-size: 135%;
    }
    h3 {
        font-size: 110%;
    }
    p {
        font-size: 100%;
    }
    .coluna img {
        width: 60%;
        margin-left: 20%;
    }
    #up, #down {
        flex-direction: column;
        width: 80%;
    }
    #down textarea {
        width: 100%;
    }
    footer {
        padding: 5px;
    }
}

/* <340px */
@media (max-width: 340px) {
    header {
        height: 25px;
    }
    nav {
        font-size: 70%;
        padding: 3px 1px;
    }
    nav a {
        height: 15px;
    }
    #perfil {
        width: 70%;
    }
    .coluna img {
        width: 70%;
        margin-left: 15%;
    }
    #up, #down {
        flex-direction: column;
        width: 100%;
    }
    #down textarea {
        width: 95%;
    }
    button {
        width: 30%;
    }
    footer {
        padding: 5px;
        font-size: 70%
    }
}
